################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentCI/.vs/StudentCI
/StudentCI/StudentCI/obj
/StudentCI/StudentCI/bin/Debug/net6.0
/StudentCI/.vs/ProjectEvaluation
/StudentCI/tests/bin/Debug/net7.0
/StudentCI/tests/obj
/StudentCI/tests/bin/Debug/net6.0
